/* Custom minimal normalization */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  font-family: sans-serif;
}

.container {
    display: flex;
}

#hero-image{
    width: 30%;
} 